#### Purpose: Extract a set of tiff files from zip folders and keep a list of filenames and flood (start) dates

Multiple tiff files were downloaded from the Global Flood Database (GFD).

These came as individual zip folders, bundling the tiff files with documentation.

In [1]:
import zipfile
import pandas as pd
import os
import pickle

Unzip all zipped tiff files (one-off operation)

In [2]:
zip_dir = './TIF/'
unzip_dir = './TIF/unzipped/'

# for file in os.listdir(zip_dir): 
#     if zipfile.is_zipfile(zip_dir+file): 
#         print("unzipping "+zip_dir+file)
#         with zipfile.ZipFile(zip_dir+file) as item: 
#            item.extractall(unzip_dir)

Make dataframe of filename and metadata per GFD image

In [3]:
tif_filename = []
DFO_id = []
flood_start = []
flood_end = []
flood_year = []

for file in os.listdir(unzip_dir): 
    if file.endswith(".tif"):
        tif_filename.append(file)
        DFO_id.append(file[0:8])
        startdate_str = (file[file.find('From')+11:file.find('From')+13] +"/"+ file[file.find('From')+9:file.find('From')+11] +"/"+ file[file.find('From')+5:file.find('From')+9] )
        enddate_str = (file[file.find('to')+9:file.find('to')+11] +"/"+ file[file.find('to')+7:file.find('to')+9] +"/"+ file[file.find('to')+3:file.find('to')+7] )
        flood_start.append(pd.to_datetime(startdate_str,format="%d/%m/%Y"))
        flood_end.append(pd.to_datetime(enddate_str,format="%d/%m/%Y"))
        flood_year.append(startdate_str[-4:])

meta_tif_df = pd.DataFrame({"DFO_id":DFO_id,
                            "tif_filename":tif_filename,
                            "flood_year":flood_year,
                            "flood_start":flood_start,
                            "flood_end":flood_end})

meta_tif_df.head()

,DFO_id,tif_filename,flood_year,flood_start,flood_end
0,DFO_1641,DFO_1641_From_20000918_to_20001021.tif,2000,2000-09-18,2000-10-21
1,DFO_1747,DFO_1747_From_20010708_to_20010810.tif,2001,2001-07-08,2001-08-10
2,DFO_1789,DFO_1789_From_20010820_to_20010911.tif,2001,2001-08-20,2001-09-11
3,DFO_1791,DFO_1791_From_20010907_to_20010924.tif,2001,2001-09-07,2001-09-24
4,DFO_1974,DFO_1974_From_20020621_to_20020828.tif,2002,2002-06-21,2002-08-28

In [4]:
with open('meta_tif_df.pkl', 'wb') as f:  
    pickle.dump(meta_tif_df, f) 

f.close()